[package]
name = "pdfx-lib"
version = "0.1.0"
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
anyhow.workspace = true
lopdf.workspace = true
thiserror.workspace = true

[dev-dependencies]
tempfile.workspace = true
